<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	Mission:
	Design and implement a prototype of a web-based application for tracking symptoms and vitals from patients affected by rare diseases. This application is mostly intended to be used by families of children affected by rare diseases. This will be an application for keeping track of manifestations of symptoms across time, as well as keeping track of basic growth measures such as weight, height and head circumference. 
</p>