<%= provide(:title, 'Home') %>
<div class="center hero-unit">
	<div class="well">
  		<h1>Do You Have A Rare Disease?</h1>
  
	  	<h2>
	    	This is the home page for the
	    	<a href="http://github.com/EmilyAndHaley/NamingZebras">Naming Zebras</a>
	    	application. <br> <br>
	      	<%= link_to "Sign up now!", "/users/sign_up", class: "btn btn-primary" if !current_user %>
	  	</h2>

	  <%= link_to image_tag("logo.jpg", alt: "You're Missing Something")%>
  </div>
</div>