<footer class="footer">
  <small>
    <a href="http://github.com/EmilyAndHaley/NamingZebras">Naming Zebras</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://github.com/EmilyAndHaley/NamingZebras">News</a></li>
    </ul>
  </nav>
</footer>